footer{
    background-color: #101629;
    color: white;
}
footer li{
    list-style: none;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
    margin:0.2rem;
}
.foo{
    color: white;
    margin:0.4rem 2rem;
}